/*css navBar*/
header {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
header a {
  color: #292929;
  text-decoration: none;
}
header li {
  padding: 0 1em;
}
#firstNav {
  background-color: #ffc017;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  border-bottom: 1px solid #292929;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}
header ul button {
  padding: 0 1rem;
  background-color: #181919;
  color: white;
  border-radius: 20px;
  height: 40px;
  margin: 0 1rem;
  border: none;
}
/* CSS Header section*/


header section {
  background-color: #ffc017;
  height: 350px;
  display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
header section h1 {
  font-family: "Spectral", serif;
  font-size: 6rem;
}

header section p {
  color: #292929;
}

header section button {
  background-color: #181919;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0 2rem;
  height: 30px;
}
#contenitore {
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 6rem;
  height: 100%;
}
svg {
  margin-right: -60px;
}
/*CSS Main-section*/


main {
  font-family: "Roboto", sans-serif;
}
main section {
  width: 30%;

  margin: 1rem 1rem;
}

#titoloSection {
  display: flex;
  align-items: center;
  margin-left: 4.5rem;
  margin-top: 2rem;
}
#titoloSection p {
  font-weight: 700;
}
#nome {
  display: flex;
  align-items: center;
  position: relative;
}
#section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  justify-content: space-around;
}
#nome img {
  border-radius: 50%;
  width: 2rem;
}
#section h4 {
  font-weight: bold;
}
#section p {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
section span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.8rem;
  opacity: 20%;
  transform: translate(-45px, 4px);
  font-weight: 700;
}
#descrizione {
  margin-top: 0.7rem;
}

/*CSS main article*/

article{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    
    margin-top: 2rem;

}
#displayFlex{
  display: flex;
}

#article{
  
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contenuto{
  width: 85%;
}

.nome2{
    display: flex;
    align-items: center;
}
.dateArticle{
    display: flex;
    justify-content: space-between;
}
.imgBig{
    width: 30%;
    
    align-self: center;
    margin-left: 1rem;
}
   .imgSmall{
    border-radius: 50%;
    width: 5%;

   }
   article h3{
    font-size: 1.2rem;
    font-weight: bold;

   }
   article h5{
    color: #757575;
    margin: 0.4rem 0;

   }
   article h6{
    color: #757575
   }
   article span{
    background-color: #F2F3F3;
    border-radius: 20px;
    padding: 0 0.4rem;
}
   /*CSS link right*/

   #secondNav{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    width: 80%;
    justify-content: space-between;
}
    
   
   #secondNav a {
    color: #757575;
    text-decoration: none;
    border: 0.5px solid #E6E7E7;
    padding: 0.4rem;
    margin: 0.3rem;
    
}
#terzoNav a {
  color: #757575;
    text-decoration: none;
    margin: 0.2rem;

}
   #displayFlex2{
    display: flex;
    flex-direction: column;
    height: 30%;
    
    align-items: center;
    justify-content: space-evenly;

   }
   #displayFlex2 p{
    font-weight: bold;
    margin-right: 4.5rem;

   }
  hr{
    width: 70%;
   }
   #terzoNav{
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    


   }